/* 顶部导航栏 */
.cart_page .top_nav{
    height:93px;
    border-top: 5px solid #484442;
}
.cart_page .top_nav .center{
    height:100%;
    align-items: center;
    justify-content: space-between;
}

.cart_page .top_nav .center .title #logo_icon{
	width:57px;
	height:57px;
	border-radius:50%;
	margin:-3px 17px 0 0; 
    background:#c1413d url(../../../public/images/bgr.png) no-repeat;
    transition:background-position 0.2s;
    vertical-align: middle;
}
.cart_page .top_nav .center .title #logo_icon:hover{
	background-position:-57px 0;
}
.cart_page .top_nav .center .title span{
    font-size:22px;
    margin-left:30px;
}
.cart_page .top_nav .center ul li:first-child{
    color:#b28850;
    margin-top:3px;
}
.cart_page .top_nav .center ul li:not(:first-child){
    margin-left:30px;
}