#page_detail .goods_info{
    width:100%;
    height:677px;
    background-color: #fff;
    box-sizing: border-box;
    padding:60px 0;
}
#page_detail .goods_info .center{
    height:100%;
    justify-content: space-between;
}
#page_detail .goods_info .images ul{
    flex-direction: column;
    justify-content: space-between;
    height:500px;
    margin-right:50px;
}
#page_detail .goods_info .images ul img{
    width:90px;
    border:1px solid transparent;
}
#page_detail .goods_info .images .mdImg img,#page_detail .goods_info .images .mdImg {
    height:500px;
}
#page_detail .goods_info .images .mdImg .smMask{
    width:100px;
    height:100px;
    background-color: rgb(254,249,147,0.4);
    position: absolute;
    top:0;
    left:0;
}
#page_detail .goods_info .images .mdImg .Mask{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background-color: transparent;
}
/* 小图片鼠标滑过的样式 */
#page_detail .goods_info .borderRed{
    border-color: #d93732 !important;
}
#page_detail .goods_info .goods_attr{
    width:485px;
}
#page_detail .goods_info .goods_attr h2:first-child{
    font-size: 30px;
    color:#000;
}
#page_detail .goods_info .goods_attr .subtitle{
    font-size:14px;
    font-weight: 400;
    color:#666;
    margin:20px 0;
}
#page_detail .goods_info .goods_attr .good_price{
    padding:20px 0;
    border:0px solid #e6e6e6;
    border-width:1px 0 1px 0;
    justify-content: space-between;
}
#page_detail .goods_info .goods_attr .good_price span:first-child{
    font-size: 24px;
    color:#d93732;
    font-weight: 700;
}
#page_detail .goods_info .goods_attr .specs{
    padding:40px 0 20px 0;
}
#page_detail .goods_info .goods_attr .specs span{
    width:72px;
    height:36px;
    border:1px solid transparent;
    text-align: center;
    line-height: 36px;
}
#page_detail .goods_info .goods_attr .specs div:first-child{
    height:48px;
}
#page_detail .goods_info .goods_attr .specs div:first-child a{
    width:56px;
}
#page_detail .goods_info .goods_attr .specs .colors{
    margin-top:20px;
}
#page_detail .goods_info .goods_attr .specs .colors a{
    width:42px;
}
#page_detail .goods_info .goods_attr .specs .option{
    height:34px;
    line-height: 34px;
    padding:0 20px;
    border:1px solid #e8e8e8;
    border-radius: 2px;
}
#page_detail .goods_info .goods_attr .specs .option:not(:last-child){
    margin-right: 8px;
}
/* 鼠标点击规格样式 */
#page_detail .goods_info .goods_attr .specs .optionSelected{
    border:2px solid #d93732;
    color:#d93732;
    transition: .3s linear;
}
/* 立即购买 */
#page_detail .goods_info .buy{
   width:485px;
   height:44px;
   margin-top:20px;
   padding-bottom: 30px;
   border-bottom: 1px solid #e6e6e6;
}
#page_detail .goods_info .goods_attr .buy a:first-child{
    display: inline-block;
    padding:15px 180px;
    background-color: #d93732;
    color:#fff;
    border-radius: 3px;
    line-height: 1;
    margin-right:10px;
}
#page_detail .goods_info .goods_attr .buy a:last-child{
    width:44px;
    box-sizing: border-box;
    padding:14px 13px;
    height:100%;
    display: inline-block;
    vertical-align: middle;
    background-color:#e2e2e2;
    border-radius: 3px;
}
#page_detail .goods_info .goods_attr .buy a:last-child:hover{
    transition: .3s linear;
    background-color: #eee;
}
#page_detail .goods_info .goods_attr .buy a:last-child i{
    width:18px ;
    height:16px;
    display: inline-block;
    background:url(../../../public/images/bgr.png) no-repeat -205px -16px;
}
#page_detail .goods_info .goods_attr .buy a:last-child i.bgImgClass{
    background-position: -205px -32px;
}
/* 选择颜色后的样式 */
#page_detail .goods_info  .colorSelected{
    border:2px solid #d93732 !important;
}
/* 详情中的导航 */
#page_detail .details_nav{
    padding:20px 0;
    border:1px solid #f5f5f5;
    width:100%;
    background-color: #fff;
    top:-45px;
    transition: all .3s linear;
}
#page_detail .details_nav ul{
    justify-content: center;
}
#page_detail .details_nav ul li{
    font-size: 18px;
    color:#666;
    margin:0 20px;
}
#page_detail .details_nav ul li a:hover{
    color:#d93732;
}
#page_detail .details_nav ul li a.active{
    color:#d93732;
}
/* 固定在顶部 */
#page_detail .fixed{
    position: fixed;
    top:0;
    z-index:3;
}
/* 需要帮助？ */
#page_detail .details_nav div:first-child{
    position: relative;
}
#page_detail .service{
    width:200px;
    height:24px;
    position: absolute;
    right:0;
    top:0;
}
/* QQ在线交谈 圆角 过渡样式 */
#page_detail .service a{
	display:inline-block;
	width:86px;
	height:18px;
	border:2px solid #979795;
	text-align:center;
	line-height:18px;
	border-radius:22px;
	font-size:12px;
	color:#666;
	transition:.3s;
}
#page_detail .service a:hover{
	color:#e52e2d;
	border-color:#e52e2d;
}
#page_detail #detailContent{
    padding-bottom:50px;
}
#page_detail #detailContent div:first-child{
    padding:80px;
    box-sizing: border-box;
}
#page_detail #detail_params{
    width:100%;
    text-align: center;
    font-size: 24px;
    color:gray;
    margin:20px 0;
}
#page_detail .detailP_details{
    height:217px;
    background-color:#fff;
}
/* 猜你喜欢 */
#page_detail #guess_title{
    text-align:center;
    font-size: 24px;
    color:gray;
    margin-top:20px;
}
#page_detail .guessULike{
    margin-top:40px;
    overflow: hidden;
    display:flex;
}
#page_detail .guessULike ul{
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-start;
    flex-wrap: nowrap;
    /* 项目不缩小 */
    flex-shrink:0;  
    /* margin-left:-243px; */ 
}
#page_detail .guessULike ul:first-child{
    margin-right:15px;
}
/* 设置轮播到最后一张的时候 重置回第一张去掉transition瞬间回到首个商品 */
#page_detail .guessULike ul.transition{
    transition: margin-left .3s linear;
}
#page_detail .guessULike ul li{
    height:257px;
    box-sizing: border-box;
    padding:30px 39px;
    background-color: #fff;
}
#page_detail .guessULike ul li:not(:first-child){
    margin-left:15px;
}
#page_detail .guessULike ul li img{
    width:150px;
    height:150px;
}
#page_detail .guessULike ul li p{
    text-align: center;
    margin-top:5px;
}
/* 轮播指示器 */
#page_detail .directors{
    width:100%;
    text-align:center;
    margin-top:30px;
}
#page_detail .directors a{
    display:inline-block;
    width:8px;
    height:8px;
    border:3px solid #f5f5f5;
    border-radius: 50%;
    margin:0 15px;
    background-color: gray;
    transition: none;
}
/* 边框变红 */
#page_detail .directors .borderRed,#page_detail .directors a:hover{
    border-color:#d93732;
    background-color:#fff;
}