footer .f_top{
	background-color:#484442;
	color:#e7e7e7;
}
footer .f1{
	height:200px;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:#fff;
}
footer .f1 div:not(:last-child){
	border-right:1px solid #e2e2e2;
}
footer .f1>div{
	height:80px;
	display:flex;
	justify-content:center;
	align-items:center;
}
footer .f1>div:first-child{
	width:207px;
}
footer .f1>div:first-child i{
	display:inline-block;
	width:152px;
	height:59px;
	background:url(../../../public/images/bgr.png) no-repeat 0 -58px;
}
footer .f1>div:nth-child(2){
	width:455px;
}
footer .f1>div:nth-child(3){
	width:256px;
	flex-direction:column;
}
footer .f1>div:nth-child(3) p{
	width:89.469px;
	font-size:16px;
	color:#333;
	font-weight:700;
	margin-bottom:10px;
}
footer .f1>div:nth-child(3) a{
	display:inline-block;
	width:28px;
	height:24px;
	background:url(../../../public/images/bgr.png) no-repeat 0px -276px;
}
footer .f1 #care_us div a{
	margin:0 5px;
}
footer .f1 #care_us div a:first-child:hover{
	background-position: 0px -251px
}
footer .f1 #care_us div a:nth-child(2){
	width:24px;
	background-position:-29px -276px;
}
footer .f1 #care_us div a:nth-child(2):hover{
	background-position: -29px -251px
}
footer .f1 #care_us div a:nth-child(3){
    width:30px;
	background-position:-54px -276px;
}
footer .f1 #care_us div a:nth-child(3):hover{
	background-position: -54px -251px
}
footer .f1>div:last-child{
	width:254px;
	flex-direction:column;
	text-align:center;
}
footer .f1>div:last-child p:first-child{
	font-size:24px;
	font-weight:700;
	color:#333;
}
footer .f1>div:last-child p:first-child+p{
	font-size:12px;
	color:#333;
	margin-bottom:10px;
}
footer .f1>div:last-child a{
	display:block;
	border:2px solid #ebebeb;
	border-radius:30px;
	padding:5px 30px;
	text-align:center;
	color:#333;
	transition:all .3s;
}
footer .f1>div:last-child a:hover{
	border-color:#e52e2d;
	color:#e52e2d;
}
footer .f2,.f3{
	margin:0 auto;
	width:1200px;
	box-sizing:border-box;
}
footer .f2{
	height:139px;
	padding:45px 30px;
}
footer .f2 li{
	float:left;
	color:#e7e7e7;
	font-weight:700;
	font-size:18px;
}
footer .f2 #li1,#li2,#li3{
	margin-right:139.25px;
}
footer .f2 li i{
	display:inline-block;
	width:52px;
	height:52px;
	background:url(../../../public/images/bgr1.png) no-repeat;
	vertical-align:middle;
	margin-right:16px;
}
footer .f2 #li2 i{
	background-position:-53px 0;
}
footer .f2 #li3 i{
	background-position:-106px 0;
}
footer .f2 #li4 i{
	background-position:-159px 0;
}
footer .f3{
	height:103px;
	padding:40px 30px;
	border-top:2px solid #666;
	font-size: 12px;
  color: #c3c3c3;
}
footer .f3 a{
	text-decoration:none;
	color:#c3c3c3;
}
footer .f3 span{
	margin-right:16px;
}
footer .f3 ul{
	float:right;
}
footer .f3 ul li{
	float:left;
}
footer .f3 ul li b{
	display:inline-block;
	width:25px;
	text-align:center;
}
