
/* 中间的信息填写部分 */
#loginContent{
	width:410px;
	height:419px;
	padding:70px 90px;
	background-color:#fff;
	position:absolute;
	right:10%;
}
#loginContent h2{
	font-size:24px;
}
#loginContent .no_user{
	font:normal 16px Arial;
	float:right;
	height:100%;
	line-height:31px;
	color:#666;
}
#loginContent .no_user a{
	color:#b28850;
}
/* 用户名 密码输入框 去轮廓 设置边框 */
#loginContent #phone,#upwd{
	outline:0;
	box-sizing:border-box;
	width:100%;
	height:40px;
	border:1px solid #eee;
	padding:0 10px;
	font:400 13.3333px Arial;
	background-color:#fff;
}
#loginContent h2+p,#loginContent #phone+p,#loginContent #upwd+p{
	height: 20px;
	font-size: 12px;
	color: red;
}
/* 隐藏 */
#loginContent .vali{
	visibility: hidden;
}
/* 登录按钮 过渡*/
#loginContent #login{
	width:100%;
	height:48px;
	background-color:#d93732;
	border:0;
	border-radius:5px;
	margin:0 0 20px 0;
	color:#fff;
	transition:background-color .3s;
	cursor: pointer;
}
#loginContent #login:hover{
	background-color:#e52e2d;
}
#loginContent #auto{
	color:#333;
}
#loginContent #forget_pwd{
	float:right;
	width:70px;
	color:#333;
}
/* 其他登录方式 */
#loginContent .other_login{
	height:24px;
	color:#999;
	font-size:16px;
	text-align:center;
	margin:40px 0 28px;
}
/* 左右两边的线条 */
#loginContent .left_line{
	float:left;
}
#loginContent .right_line{
	float:right;
}
#loginContent .left_line,.right_line{
	width:126px;
	height:12px;
  border-bottom:1px solid #f4f4f4;
}
#loginContent .three{
	width:251px;
	height:58.38px;
	margin:auto;
	display:flex;
	justify-content:space-between;
}
#loginContent .three li{
	width:33px;
	text-align:center;
}
/* 新浪微博登录方式 宽度 */
#loginContent .three .sina{
	width:56px;
}
#loginContent .three .zfb{
	width:42px;
}
/* 设置图标背景*/
#loginContent .three li i{
	display:inline-block;
	width:33px;
	height:33px;
	border-radius:50%;
	background:url(../../../public/images/bgr.png) no-repeat -201px -267px;
	transition:background-position .3s;
}
#loginContent .three li .sina_icon{
	background-position:-234px -267px;
}
#loginContent .three li .zfb_icon{
	background-position:-267px -267px;
}
#loginContent .three li a{
	display:inline-block;
	color:#333;
}
/* 过渡样式 鼠标悬停在li上 图标更换 滑动效果  字体变红*/
#loginContent .three li:first-child:hover .qq_icn{
	background-position:-201px -234px;
}
#loginContent .three li:hover a{
	color:red;
}
#loginContent .three li:nth-child(2):hover .sina_icon{
	background-position:-234px -234px;
}
#loginContent .three li:last-child:hover .zfb_icon{
	background-position:-267px -234px;
}
